  .form-btn {
    text-align: center;
    display: block;
  }
    .search_container {
    margin-bottom: 20px;
  }

  .btnRight {
    float: right;
    margin-right: 0px !important;
  }

  .searchArea {
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 18px 18px 0;
  }
  //.el-form--inline .el-form-item {
  //    padding-left: 15px;
  //}
  .el-form-item--small .el-form-item__label {
      color: #66696f;
      font-weight: 400;
  }
  .el-collapse {
     border-top: none;
  }
  .el-select.el-select--medium{
    width: 100%;
  }
